.watchCard {
    display: grid;
    grid-template:
      "head head head" 30%
      "banner review review" 40%
      "banner buttons buttons" 30% /
      40% 40% 20%;
    padding: 10px;
    margin: 2px 2px;
    text-align: left;
    border: 3px solid #0c1727ff;
    min-width: 600px;
  }
  
  .head {
    grid-area: head;
    text-align: left;
  }
  
  .banner {
    grid-area: banner;
  }
  
  .banner img {
    width: 80%;
  }
  
  .review {
    grid-area: review;
  }
  
  .review label textarea {
    display: block;
    resize: none;
    width: 90%;
    height: 70%;
    font: 14px "Open Sans", "Segoe UI", "Tahoma";
    padding: 5px;
  }
  
  .watched {
    grid-area: watched;
  }
  
  .buttons {
    grid-area: buttons;
    margin: 10px;
  }
  
  .watchButtons {
    padding: 10px;
    border-radius: 10px;
    border: none;
    font: 14px "Open Sans", "Segoe UI", "Tahoma";
    color: white;
    margin: 5px 10px;
  }
  
  .editButton {
    position: relative;
    left: 295px;
    bottom: 40px;
  
    padding: 5px;
    border-radius: 10px;
    border: none;
    font: 14px "Open Sans", "Segoe UI", "Tahoma";
    color: white;
    z-index: 0;
  }
  